/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #2196f3;
  --transition-time: 0.3s;
  --section-padding: 60px;
  --bg-section-color: #ececec;
  --p-line-height: 23px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1175px;
  }
}

.section-title {
  width: fit-content;
  text-transform: uppercase;
  padding: 14px 18px;
  font-size: 30px;
  margin: 0 auto 50px auto;
  border: 2px solid black;
  position: relative;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  z-index: 2;
}
.section-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.section-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.section-title:hover:before {
  z-index: -1;
  animation: fill-left 0.5s linear forwards;
  -webkit-animation: fill-left 0.5s linear forwards;
}
.section-title:hover:after {
  z-index: -1;
  animation: fill-right 0.5s linear forwards;
  -webkit-animation: fill-right 0.5s linear forwards;
}
.section-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

@keyframes fill-left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 51%;
    height: 100%;
  }
}
@keyframes fill-right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

.spike {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px;
}
/* End Global Rules */

header {
  background-color: white;
  box-shadow: 0px -5px 18px 0px #acacac;
  position: relative;
  z-index: 99;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .logo {
  font-size: 26px;
  font-weight: bold;
  color: #2196f3;
  text-decoration: none;
}

header .links .main-links {
  display: flex;
  row-gap: 20px;
}
header .links .main-links > li > a {
  display: flex;
  padding: 25px 30px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }
  header .logo {
    padding: 10px 0;
  }
  header .links .main-links > li > a {
    font-size: 15px;
    padding: 15px 10px;
  }
}
header .links .main-links > li > a:hover {
  color: var(--main-color);
  background-color: #f6f6f6;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  color: #222;
}
header .links .main-links > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
header .links .main-links li a:hover::before {
  left: 0;
}
header .links .main-links .other-links div {
  display: none;
}
header .links .main-links .other-links:hover div {
  position: absolute;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  left: 0;
  top: calc(100% + 1px);
  width: 100%;
  align-items: center;
  padding: 20px;
  gap: 50px;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
header .links .main-links .other-links div img {
  width: 40%;
  max-width: 400px;
}
header .links .main-links .other-links div ul {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}
@media (max-width: 768px) {
  header .links .main-links .other-links:hover div {
    padding: 0;
  }
  header .links .main-links .other-links div ul {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  header .links .main-links .other-links div img {
    display: none;
  }
  header .links .main-links .other-links div ul {
    flex-basis: 100%;
  }
}
header .links .main-links .other-links div ul li {
  flex-basis: calc(50% - 20px);
  position: relative;
  overflow: hidden;
}
header .links .main-links .other-links div ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background-color: #efefef;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
header .links .main-links .other-links div ul li:hover::before {
  left: 0;
}
header .links .main-links .other-links div ul li a {
  color: var(--main-color);
  font-weight: 700;
  display: block;
  padding: 18px 15px;
  font-size: 19px;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 2;
}
header .links .main-links .other-links div ul li:last-child a,
header .links .main-links .other-links div ul li:nth-last-child(2) a {
  border: 0;
}
header .links .main-links .other-links div ul li a i {
  margin-right: 5px;
}
@media (max-width: 768px) {
  header .links .main-links .other-links div ul li a {
    padding: 15px;
    font-size: 17px;
  }
  header .links .main-links .other-links div ul li:nth-last-child(2) a {
    border-bottom: 1px solid #ccc;
  }
}

.landing {
  padding-top: 40px;
  padding-bottom: var(--section-padding);
  position: relative;
  height: calc(100vh - 72px);
}
@media (max-width: 768px) {
  .landing {
    height: calc(100vh - 97.5px);
  }
}
.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: var(--bg-section-color);
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  position: relative;
  top: 10%;
  display: flex;
  align-items: center;
  position: relative;
}
.landing .container .text h2 {
  font-size: 40px;
}
.landing .container .text p {
  font-size: 17px;
  color: #666;
  margin-top: 10px;
  line-height: var(--p-line-height);
}
.landing .container img {
  position: relative;
  top: -35px;
  width: 550px;
  max-width: 100%;
  animation: up-and-down 2.5s infinite linear;
  -webkit-animation: up-and-down 2.5s infinite linear;
}
@media (max-width: 1200px) {
  .landing .container .text h2 {
    font-size: 34px;
    letter-spacing: -0.5px;
  }
}
@media (max-width: 992px) {
  .landing .container {
    flex-direction: column;
  }
  .landing .container .text {
    text-align: center;
    margin-bottom: 20px;
  }
  .landing .container .text p {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .landing .container img {
    top: -10px;
    width: 500px;
  }
}
@media (max-width: 768px) {
  .landing .container .text {
    margin-bottom: 25px;
  }
  .landing .container .text h2 {
    font-size: 28px;
  }
  .landing .container .text p {
    font-size: 14px;
    width: 100%;
    max-width: 85%;
  }
}
.landing a {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 27px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.landing a i {
  animation: bouncing 1.5s infinite;
  -webkit-animation: bouncing 1.5s infinite;
}

/* Animations */
@keyframes up-and-down {
  from,
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
  }
}

@keyframes bouncing {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-17px);
    -webkit-transform: translateY(-17px);
    -moz-transform: translateY(-17px);
    -ms-transform: translateY(-17px);
    -o-transform: translateY(-17px);
  }
}

.article {
  padding: var(--section-padding) 0;
}
.article .content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.article .content .box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 2px #ededed;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
.article .content .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px 3px #dfdfdf;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.article .content .box img {
  width: 100%;
  max-width: 100%;
}
.article .content .box .text {
  padding: 18px;
  border-bottom: 1px solid #ccc;
}
.article .content .box .text h3 {
  margin-bottom: 10px;
}
.article .content .box .text p {
  line-height: var(--p-line-height);
  font-size: 15px;
  color: #777;
}
.article .content .box .read-more {
  padding: 18px;
  display: flex;
  justify-content: space-between;
}
.article .content .box .read-more a {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
}
.article .content .box .read-more i {
  cursor: pointer;
  color: var(--main-color);
  font-size: 14px;
}
.article .content .box:hover .read-more i {
  margin-right: 5px;
  animation: left-and-right 0.7s linear infinite;
  -webkit-animation: left-and-right 0.7s linear infinite;
  position: relative;
}
@keyframes left-and-right {
  to {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}

.gallery {
  padding: var(--section-padding) 0;
  background-color: var(--bg-section-color);
  position: relative;
}
.gallery .content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .content .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px 3px #dfdfdf;
}
.gallery .content .box .image {
  overflow: hidden;
  position: relative;
}
.gallery .content .box .image::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 1;
}
.gallery .content .box .image:hover::before {
  animation: flashing 0.7s;
  -webkit-animation: flashing 0.7s;
}
@keyframes flashing {
  0%,
  35% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 200%;
    width: 200%;
  }
}
.gallery .content .box .image img {
  width: 100%;
  max-width: 100%;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
.gallery .content .box .image:hover img {
  transform: rotate(5deg) scale(1.15);
  -webkit-transform: rotate(5deg) scale(1.15);
  -moz-transform: rotate(5deg) scale(1.15);
  -ms-transform: rotate(5deg) scale(1.15);
  -o-transform: rotate(5deg) scale(1.15);
}

.features {
  padding: var(--section-padding) 0;
}
.features .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.features .content .box {
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
}
.features .content .box .image {
  position: relative;
}
.features .content .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 3px);
}
.features .content .box:first-of-type .image::before {
  background-color: rgb(244, 67, 54, 0.6);
}
.features .content .box:nth-of-type(2) .image::before {
  background-color: rgb(0, 150, 136, 0.6);
}
.features .content .box:last-of-type .image::before {
  background-color: rgb(3, 169, 244, 0.6);
}
.features .content .box .image::after {
  content: "";
  position: absolute;
  border-width: 0 0 170px 500px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: white;
  right: -10px;
  bottom: 0;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
.features .content .box:hover .image::after {
  border-width: 0 500px 190px 0;
}
.features .content .box img {
  width: 100%;
  max-width: 100%;
}
.features .content .box .text {
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.features .content .box .text h2 {
  font-size: 35px;
  width: fit-content;
  margin: 0px auto;
  position: relative;
}
.features .content .box .text h2::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 5px;
  bottom: -16px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.features .content .box:first-of-type .text h2::before {
  background-color: rgb(244, 67, 54);
}
.features .content .box:nth-of-type(2) .text h2::before {
  background-color: rgb(0, 150, 136);
}
.features .content .box:last-of-type .text h2::before {
  background-color: rgb(3, 169, 244);
}

.features .content .box .text p {
  font-size: 18px;
  line-height: 30px;
  color: #777;
  margin: 50px 20px;
  margin-top: 60px;
}
.features .content .box a {
  text-decoration: none;
  display: block;
  width: fit-content;
  font-size: 21px;
  font-weight: 700;
  padding: 10px 26px;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 3px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.features .content .box:first-of-type a {
  color: rgb(244, 67, 54);
  border-color: rgb(244, 67, 54);
}
.features .content .box:nth-of-type(2) a {
  color: rgb(0, 150, 136);
  border-color: rgb(0, 150, 136);
}
.features .content .box:last-of-type a {
  color: rgb(3, 169, 244);
  border-color: rgb(3, 169, 244);
}
.features .content .box a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  z-index: -1;
}
.features .content .box:first-of-type a::before {
  background-color: rgb(244, 67, 54);
}
.features .content .box:nth-of-type(2) a::before {
  background-color: rgb(0, 150, 136);
}
.features .content .box:last-of-type a::before {
  background-color: rgb(3, 169, 244);
}
.features .content .box:hover a {
  color: white;
}
.features .content .box:hover a::before {
  width: 100%;
}

.test {
  padding: var(--section-padding) 0;
  background-color: var(--bg-section-color);
  position: relative;
}
.test .test-content {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.test .test-content .review {
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px 3px #dfdfdf;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  position: relative;
}
.test .test-content .review .image {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  right: -5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
.test .test-content .review .image img {
  width: 100px;
  border: 10px solid var(--bg-section-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.test .test-content .review .image::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 30px;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: -50%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform-origin: center;
  opacity: 0;
}
.test .test-content .review:hover .image::before {
  animation: glitter 0.2s linear;
  -webkit-animation: glitter 0.2s linear;
}
@keyframes glitter {
  0% {
    top: -25px;
    opacity: 0.2;
  }
  40%,
  60% {
    opacity: 0.4ss;
  }
  100% {
    opacity: 0.2;
    top: 100px;
  }
}
.test .test-content .review .text h3 {
  font-size: 20px;
}
.test .test-content .review .text h4 {
  font-weight: 500;
  font-size: 15px;
  color: #777;
  margin: 6px 0 10px 0;
}
.test .test-content .review .text p {
  line-height: var(--p-line-height);
  color: #777;
}
.test .test-content .review .text .rating {
  font-size: 15px;
  margin-bottom: 10px;
}
.test .test-content .review .text .rating .fa-solid {
  color: #ffc107;
}

.team {
  padding: var(--section-padding) 0;
}
.team-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px 30px;
}
.team-content .member {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.team-content .member::before {
  content: "";
  position: absolute;
  background-color: var(--bg-section-color);
  right: 0;
  top: 0;
  width: calc(100% - 60px);
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: -1;
}
.team-content .member::after {
  content: "";
  position: absolute;
  background-color: #ddd;
  right: -100%;
  top: 0;
  width: calc(100% - 60px);
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  z-index: -1;
}
.team-content .member:hover::after {
  right: 0;
}
.team-content .member .info {
  padding-top: 50px;
  display: flex;
  align-items: center;
}
.team-content .member .info img {
  width: calc(100% - 60px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
.team-content .member:hover .info img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.team-content .member .info .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}
.team-content .member .info .social a {
  color: #3c3c3c;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
.team-content .member:hover .info .social a {
  color: #555;
}
.team-content .member:hover .info .social a:hover {
  color: var(--main-color);
}
.team-content .member .data {
  margin-top: 20px;
  padding-left: 80px;
}
.team-content .member .data h2 {
  font-size: 23px;
  color: var(--main-color);
  margin-bottom: 10px;
}
.team-content .member:hover .data h2 {
  color: #777;
}
.team-content .member .data h3 {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 20px;
}
