/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #2196f3;
  --transition-time: 0.3s;
  --section-padding: 80px;
  --bg-section-color: #eee;
  --p-line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection {
  color: white;
  background-color: #2196f3;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1175px;
  }
}

.section-title {
  width: fit-content;
  text-transform: uppercase;
  padding: 14px 18px;
  font-size: 30px;
  margin: 0 auto 50px auto;
  border: 2px solid black;
  position: relative;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  z-index: 1;
}
.section-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.section-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.section-title:hover:before {
  z-index: -1;
  animation: fill-left 0.5s linear forwards;
  -webkit-animation: fill-left 0.5s linear forwards;
}
.section-title:hover:after {
  z-index: -1;
  animation: fill-right 0.5s linear forwards;
  -webkit-animation: fill-right 0.5s linear forwards;
}
.section-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

@keyframes fill-left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 51%;
    height: 100%;
  }
}
@keyframes fill-right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

.spike {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px;
}

.dots {
  position: absolute;
  background-image: url("../imgs/dots.png");
  background-repeat: no-repeat;
  background-size: 150%;
  width: 200px;
  height: 200px;
  right: 0;
  top: 200px;
}
/* End Global Rules */

header {
  background-color: white;
  box-shadow: 0px -5px 18px 0px #acacac;
  position: relative;
  z-index: 99;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .logo {
  font-size: 26px;
  font-weight: bold;
  color: #2196f3;
  text-decoration: none;
}

header .links .main-links {
  display: flex;
  row-gap: 20px;
}
header .links .main-links > li > a {
  display: flex;
  padding: 25px 30px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }
  header .logo {
    padding: 10px 0;
  }
  header .links .main-links > li > a {
    font-size: 15px;
    padding: 15px 10px;
  }
}
header .links .main-links > li > a:hover {
  color: var(--main-color);
  background-color: #f6f6f6;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  color: #222;
}
header .links .main-links > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
header .links .main-links li a:hover::before {
  left: 0;
}
header .links .main-links .other-links div {
  display: none;
}
header .links .main-links .other-links:hover div {
  position: absolute;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  left: 0;
  top: calc(100% + 1px);
  width: 100%;
  align-items: center;
  padding: 20px;
  gap: 50px;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
header .links .main-links .other-links div img {
  width: 40%;
  max-width: 400px;
}
header .links .main-links .other-links div ul {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}
@media (max-width: 768px) {
  header .links .main-links .other-links:hover div {
    padding: 0;
  }
  header .links .main-links .other-links div ul {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  header .links .main-links .other-links div img {
    display: none;
  }
  header .links .main-links .other-links div ul {
    flex-basis: 100%;
  }
}
header .links .main-links .other-links div ul li {
  flex-basis: calc(50% - 20px);
  position: relative;
  overflow: hidden;
}
header .links .main-links .other-links div ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background-color: #efefef;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
header .links .main-links .other-links div ul li:hover::before {
  left: 0;
}
header .links .main-links .other-links div ul li a {
  color: var(--main-color);
  font-weight: 700;
  display: block;
  padding: 18px 15px;
  font-size: 19px;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 2;
}
header .links .main-links .other-links div ul li:last-child a,
header .links .main-links .other-links div ul li:nth-last-child(2) a {
  border: 0;
}
header .links .main-links .other-links div ul li a i {
  margin-right: 5px;
}
@media (max-width: 768px) {
  header .links .main-links .other-links div ul li a {
    padding: 15px;
    font-size: 17px;
  }
  header .links .main-links .other-links div ul li:nth-last-child(2) a {
    border-bottom: 1px solid #ccc;
  }
}

.landing {
  padding-top: 40px;
  padding-bottom: var(--section-padding);
  position: relative;
  height: calc(100vh - 72px);
}
@media (max-width: 768px) {
  .landing {
    height: calc(100vh - 97.5px);
  }
}
.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: var(--bg-section-color);
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  position: relative;
  top: 10%;
  display: flex;
  align-items: center;
  position: relative;
}
.landing .container .text h2 {
  font-size: 40px;
}
.landing .container .text p {
  font-size: 17px;
  color: #666;
  margin-top: 10px;
  line-height: var(--p-line-height);
}
.landing .container img {
  position: relative;
  top: -35px;
  width: 550px;
  max-width: 100%;
  animation: up-and-down 2.5s infinite linear;
  -webkit-animation: up-and-down 2.5s infinite linear;
}
@media (max-width: 1200px) {
  .landing .container .text h2 {
    font-size: 34px;
    letter-spacing: -0.5px;
  }
}
@media (max-width: 992px) {
  .landing .container {
    flex-direction: column;
  }
  .landing .container .text {
    text-align: center;
    margin-bottom: 20px;
  }
  .landing .container .text p {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .landing .container img {
    top: -10px;
    width: 500px;
  }
}
@media (max-width: 768px) {
  .landing .container .text {
    margin-bottom: 25px;
  }
  .landing .container .text h2 {
    font-size: 28px;
  }
  .landing .container .text p {
    font-size: 14px;
    width: 100%;
    max-width: 85%;
  }
}
.landing a {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 27px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.landing a i {
  animation: bouncing 1.5s infinite;
  -webkit-animation: bouncing 1.5s infinite;
}

/* Animations */
@keyframes up-and-down {
  from,
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
  }
}

@keyframes bouncing {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-17px);
    -webkit-transform: translateY(-17px);
    -moz-transform: translateY(-17px);
    -ms-transform: translateY(-17px);
    -o-transform: translateY(-17px);
  }
}

.article {
  padding: var(--section-padding) 0;
}
.article .content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.article .content .box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 2px #ededed;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
.article .content .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px 3px #dfdfdf;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.article .content .box img {
  width: 100%;
  max-width: 100%;
}
.article .content .box .text {
  padding: 18px;
  border-bottom: 1px solid #ccc;
}
.article .content .box .text h3 {
  margin-bottom: 10px;
}
.article .content .box .text p {
  line-height: var(--p-line-height);
  font-size: 15px;
  color: #777;
}
.article .content .box .read-more {
  padding: 18px;
  display: flex;
  justify-content: space-between;
}
.article .content .box .read-more a {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
}
.article .content .box .read-more i {
  cursor: pointer;
  color: var(--main-color);
  font-size: 14px;
}
.article .content .box:hover .read-more i {
  margin-right: 5px;
  animation: left-and-right 0.7s linear infinite;
  -webkit-animation: left-and-right 0.7s linear infinite;
  position: relative;
}
@keyframes left-and-right {
  to {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}

.gallery {
  padding: var(--section-padding) 0;
  background-color: var(--bg-section-color);
  position: relative;
}
.gallery .content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .content .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px 3px #dfdfdf;
}
.gallery .content .box .image {
  overflow: hidden;
  position: relative;
}
.gallery .content .box .image::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 1;
}
.gallery .content .box .image:hover::before {
  animation: flashing 0.7s;
  -webkit-animation: flashing 0.7s;
}
@keyframes flashing {
  0%,
  35% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 200%;
    width: 200%;
  }
}
.gallery .content .box .image img {
  width: 100%;
  max-width: 100%;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
.gallery .content .box .image:hover img {
  transform: rotate(5deg) scale(1.15);
  -webkit-transform: rotate(5deg) scale(1.15);
  -moz-transform: rotate(5deg) scale(1.15);
  -ms-transform: rotate(5deg) scale(1.15);
  -o-transform: rotate(5deg) scale(1.15);
}

.features {
  padding: var(--section-padding) 0;
}
.features .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.features .content .box {
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
}
.features .content .box .image {
  position: relative;
}
.features .content .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 3px);
}
.features .content .box:first-of-type .image::before {
  background-color: rgb(244, 67, 54, 0.6);
}
.features .content .box:nth-of-type(2) .image::before {
  background-color: rgb(0, 150, 136, 0.6);
}
.features .content .box:last-of-type .image::before {
  background-color: rgb(3, 169, 244, 0.6);
}
.features .content .box .image::after {
  content: "";
  position: absolute;
  border-width: 0 0 170px 500px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: white;
  right: -10px;
  bottom: 0;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
.features .content .box:hover .image::after {
  border-width: 0 500px 190px 0;
}
.features .content .box img {
  width: 100%;
  max-width: 100%;
}
.features .content .box .text {
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.features .content .box .text h2 {
  font-size: 35px;
  width: fit-content;
  margin: 0px auto;
  position: relative;
}
.features .content .box .text h2::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 5px;
  bottom: -16px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.features .content .box:first-of-type .text h2::before {
  background-color: rgb(244, 67, 54);
}
.features .content .box:nth-of-type(2) .text h2::before {
  background-color: rgb(0, 150, 136);
}
.features .content .box:last-of-type .text h2::before {
  background-color: rgb(3, 169, 244);
}

.features .content .box .text p {
  font-size: 18px;
  line-height: 30px;
  color: #777;
  margin: 50px 20px;
  margin-top: 60px;
}
.features .content .box a {
  text-decoration: none;
  display: block;
  width: fit-content;
  font-size: 21px;
  font-weight: 700;
  padding: 10px 26px;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 3px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.features .content .box:first-of-type a {
  color: rgb(244, 67, 54);
  border-color: rgb(244, 67, 54);
}
.features .content .box:nth-of-type(2) a {
  color: rgb(0, 150, 136);
  border-color: rgb(0, 150, 136);
}
.features .content .box:last-of-type a {
  color: rgb(3, 169, 244);
  border-color: rgb(3, 169, 244);
}
.features .content .box a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  z-index: -1;
}
.features .content .box:first-of-type a::before {
  background-color: rgb(244, 67, 54);
}
.features .content .box:nth-of-type(2) a::before {
  background-color: rgb(0, 150, 136);
}
.features .content .box:last-of-type a::before {
  background-color: rgb(3, 169, 244);
}
.features .content .box:hover a {
  color: white;
}
.features .content .box:hover a::before {
  width: 100%;
}

.test {
  padding: var(--section-padding) 0;
  background-color: var(--bg-section-color);
  position: relative;
}
.test .test-content {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.test .test-content .review {
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px 3px #dfdfdf;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  position: relative;
}
.test .test-content .review .image {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  right: -5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
.test .test-content .review .image img {
  width: 100px;
  border: 10px solid var(--bg-section-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.test .test-content .review .image::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 30px;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: -50%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform-origin: center;
  opacity: 0;
}
.test .test-content .review:hover .image::before {
  animation: glitter 0.2s linear;
  -webkit-animation: glitter 0.2s linear;
}
@keyframes glitter {
  0% {
    top: -25px;
    opacity: 0.2;
  }
  40%,
  60% {
    opacity: 0.4ss;
  }
  100% {
    opacity: 0.2;
    top: 100px;
  }
}
.test .test-content .review .text h3 {
  font-size: 20px;
}
.test .test-content .review .text h4 {
  font-weight: 500;
  font-size: 15px;
  color: #777;
  margin: 6px 0 10px 0;
}
.test .test-content .review .text p {
  line-height: var(--p-line-height);
  color: #777;
}
.test .test-content .review .text .rating {
  font-size: 15px;
  margin-bottom: 10px;
}
.test .test-content .review .text .rating .fa-solid {
  color: #ffc107;
}

.team {
  padding: var(--section-padding) 0;
}
.team-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px 30px;
}
.team-content .member {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.team-content .member::before {
  content: "";
  position: absolute;
  background-color: var(--bg-section-color);
  right: 0;
  top: 0;
  width: calc(100% - 60px);
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: -1;
}
.team-content .member::after {
  content: "";
  position: absolute;
  background-color: #ddd;
  right: -100%;
  top: 0;
  width: calc(100% - 60px);
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  z-index: -1;
}
.team-content .member:hover::after {
  right: 0;
}
.team-content .member .info {
  padding-top: 50px;
  display: flex;
  align-items: center;
}
.team-content .member .info img {
  width: calc(100% - 60px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
.team-content .member:hover .info img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.team-content .member .info .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}
.team-content .member .info .social a {
  color: #3c3c3c;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
.team-content .member:hover .info .social a {
  color: #555;
}
.team-content .member:hover .info .social a:hover {
  color: var(--main-color);
}
.team-content .member .data {
  margin-top: 20px;
  padding-left: 80px;
}
.team-content .member .data h2 {
  font-size: 23px;
  color: var(--main-color);
  margin-bottom: 10px;
}
.team-content .member:hover .data h2 {
  color: #777;
}
.team-content .member .data h3 {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 20px;
}

.services {
  padding: var(--section-padding) 0;
  background-color: var(--bg-section-color);
  position: relative;
}
.services .serv-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.services .serv-content .serv {
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px 2px #dfdfdf;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  position: relative;
}
.services .serv-content .serv:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  box-shadow: 0 0 10px 3px #dfdfdf;
}
.services .serv-content .serv::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
.services .serv-content .serv:hover::before {
  width: 100%;
}
.services .serv-content .serv i {
  font-size: 55px;
  padding-top: 40px;
  color: #ccc;
  margin-bottom: 20px;
}
.services .serv-content .serv h2 {
  font-size: 26px;
  margin-bottom: 40px;
  color: var(--main-color);
}
.services .serv-content .serv .details {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.services .serv-content .serv .details::after {
  content: "";
  position: absolute;
  height: 102%;
  left: 70px;
  width: 40px;
  background-color: #ccc;
  transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  -moz-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  -o-transform: skewX(-25deg);
}
.services .serv-content .serv .details h3 {
  font-size: 27px;
  height: 100%;
  padding: 8px 32px 8px 20px;
  color: white;
  background-color: var(--main-color);
}
.services .serv-content .serv .details a {
  text-decoration: none;
  color: var(--main-color);
  position: relative;
  right: 20px;
}

.skills {
  padding: var(--section-padding) 0;
}
.skills .content {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.skills .content img {
  width: 100%;
  max-width: 350px;
  justify-self: center;
}
@media (max-width: 768px) {
  .skills .content {
    padding-top: 20px;
    grid-template-columns: 1fr;
  }
  .skills .content img {
    display: none;
  }
}
.skills .content .skill {
  padding: 10px 0;
}
.skills .content .skill h3 {
  font-size: 19px;
  margin-bottom: 15px;
}
.skills .content .skill .percent {
  width: 100%;
  height: 30px;
  background-color: #eee;
  position: relative;
}
.skills .content .skill .percent::before {
  content: attr(data-percent);
  position: absolute;
  color: var(--main-color);
  background-color: white;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  top: -35px;
  right: 0;
}
.skills .content .skill .percent span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
}

.how-work {
  padding: var(--section-padding) 0;
  background-color: var(--bg-section-color);
  position: relative;
}
.how-work .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
}
.how-work .content > img {
  width: 100%;
}
@media (max-width: 768px) {
  .how-work .content {
    display: flex;
  }
  .how-work .content > img {
    display: none;
  }
}
.how-work .content .steps {
  display: flex;
  flex-direction: column;
}
.how-work .content .step {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  background-color: #f9f9f9;
  border: 2px solid white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  position: relative;
  z-index: 1;
}
.how-work .content .step:not(:last-of-type) {
  margin-bottom: 30px;
}
.how-work .content .step::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: #e7e7e7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 8px;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  z-index: -1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.how-work .content .step:hover::before {
  width: 100%;
  height: 100%;
}
.how-work .content .step img {
  width: 60px;
}
.how-work .content .step .text {
  margin-left: 25px;
}
.how-work .content .step .text h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
.how-work .content .step .text p {
  line-height: var(--p-line-height);
  font-size: 17px;
  color: #777;
}
@media (max-width: 768px) {
  .how-work .content .step {
    flex-direction: column;
    align-items: center;
  }
  .how-work .content .step .text {
    text-align: center;
    margin: 0;
    margin-top: 20px;
  }
  .how-work .content .step .text h3 {
    margin-bottom: 15px;
  }
}

.events {
  padding: var(--section-padding) 0;
}
.events .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
}
.events img {
  justify-self: center;
  max-width: 450px;
}
@media (max-width: 992px) {
  .events .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .events img {
    width: 100%;
  }
}
.events .right {
  text-align: center;
}
.events .right .timer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.events .right .timer > div {
  border: 2px solid #ddd;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}
.events .right span {
  display: block;
}
.events .right span:first-child {
  font-size: 40px;
  font-weight: 600;
  color: var(--main-color);
  padding-bottom: 10px;
  padding: 18px;
  position: relative;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
.events .right .timer div:first-child span:first-child {
  left: -2px;
}
.events .right .timer > div:hover span:first-child {
  color: white;
}
.events .right span:first-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  left: 0;
  top: -100%;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  z-index: -1;
}
.events .right .timer div:first-child span:first-child::before {
  left: 2px;
}
.events .right .timer > div:hover span:first-child::before {
  top: 0;
}
.events .right span:last-child {
  padding: 8px 0;
  font-size: 14px;
  border-top: 2px solid #ddd;
  position: relative;
}
.events .right span:last-child::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #ddd;
  left: 0;
  top: 0;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  z-index: -1;
}
.events .right .timer div:hover span:last-child::before {
  width: 100%;
}
.events .right h1 {
  margin-top: 35px;
  font-size: 33px;
}
.events .right p {
  color: #777;
  font-size: 17px;
  line-height: var(--p-line-height);
  max-width: 600px;
}
@media (max-width: 776px) {
  .events .right .timer {
    gap: 10px;
  }
  .events .right h1 {
    font-size: 28px;
  }
  .events .right span:first-child {
    padding: 18px 12px;
  }
}
.events form {
  display: flex;
  gap: 15px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 25px;
  max-width: 500px;
  background-color: #eee;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
@media (max-width: 768px) {
  .events form {
    flex-direction: column;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}
.events form input[type="email"] {
  caret-color: var(--main-color);
  border: 0;
  padding: 20px;
  flex: 1;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.events form input[type="email"]:hover {
  outline: none;
}
.events form input[type="email"]::placeholder {
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
.events form input[type="submit"] {
  color: white;
  background-color: var(--main-color);
  padding: 15px 20px;
  border: 0;
  font-weight: 600;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .events form input[type="email"],
  .events form input[type="submit"] {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}

.pricing {
  padding: var(--section-padding) 0;
  background-color: var(--bg-section-color);
  position: relative;
}
.pricing .plans {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
@media (max-width: 1200px) {
  .pricing .plans {
    padding-top: 20px;
  }
}
.pricing .plans .plan {
  text-align: center;
  background-color: white;
  padding: 30px 0 15px;
  box-shadow: 0 0 12px 3px #ddd;
  position: relative;
  z-index: 1;
}
.pricing .plans .plan::before,
.pricing .plans .plan::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f9f9f9;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  z-index: -1;
}
.pricing .plans .plan::before {
  top: 0;
  left: 0;
}
.pricing .plans .plan::after {
  bottom: 0;
  right: 0;
}
.pricing .plans .plan:hover::before,
.pricing .plans .plan:hover::after {
  width: 100%;
}
.pricing .plans .plan:nth-child(2) {
  position: relative;
  top: -30px;
}
.pricing .plans .plan .most-pop {
  position: absolute;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  padding-top: 12px;
  color: white;
  font-weight: 700;
  top: 0;
  right: 30px;
  width: 40px;
  height: 135px;
  background-color: var(--main-color);
}
.pricing .plans .plan .most-pop::before {
  content: "";
  position: absolute;
  border: 21px solid transparent;
  border-bottom-color: white;
  border-top-width: 0;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media (max-width: 1200px) {
  .pricing .plans .plan:nth-child(2) {
    top: 0;
  }
}
.pricing .plan h2 {
  font-size: 25px;
  margin-bottom: 25px;
}
.pricing .plan img {
  width: 80px;
  margin-bottom: 25px;
}
.pricing .plan .price {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid#ddd;
}
.pricing .plan .price span:first-child {
  font-size: 55px;
  font-weight: 700;
  color: var(--main-color);
}
.pricing .plan .price span:last-child {
  font-size: 15px;
}
.pricing .plan ul {
  text-align: start;
}
.pricing .plan ul li {
  padding: 15px 40px;
  position: relative;
}
.pricing .plan ul li::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  color: var(--main-color);
  left: 18px;
}
.pricing .plan ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.pricing .plan a {
  display: block;
  margin: 15px auto;
  width: fit-content;
  padding: 12px 18px;
  font-weight: 700;
  text-decoration: none;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  /*font-size: 17px;
  */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.videos {
  padding: var(--section-padding) 0;
}
.videos .menu {
  display: flex;
  background-color: #ddd;
  padding: 1px;
}
@media (max-width: 992px) {
  .videos .menu {
    flex-direction: column;
  }
}
.videos .menu .titles {
  min-width: 300px;
  background-color: #ddd;
}
.videos .menu .titles .head {
  background-color: #eee;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
}
.videos .menu .titles .head span {
  font-weight: 700;
}
.videos .menu .titles ul {
  background-color: white;
}
.videos .menu .titles ul li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
}
.videos .menu .titles ul li:not(:last-child) {
  border-bottom: 1px solid#ddd;
}
.videos .menu .titles ul li:hover {
  color: var(--main-color);
  background-color: #f9f9f9;
}
.videos .menu .titles ul li span {
  color: #777;
}
.videos .menu .video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
@media (max-width: 992px) {
  .videos .menu .video {
    gap: 10px;
  }
}
.videos .menu .video .image {
  position: relative;
  overflow: hidden;
}
.videos .menu .video .image i {
  position: absolute;
  color: white;
  font-size: 45px;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.videos .menu .video .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 3px);
  background-color: black;
  opacity: 0.5;
}
.videos .menu .video img {
  width: 100%;
}
.videos .menu .video span {
  display: block;
  padding: 20px;
  background-color: white;
}

.our-stats {
  padding: var(--section-padding) 0;
  background-color: var(--bg-section-color);
  background-image: url("../imgs/stats.jpg");
  background-position: center;
  position: relative;
  z-index: 1;
}
.our-stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.9);
  z-index: -1;
}
.our-stats .container {
  text-align: center;
}
.our-stats .stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
@media (max-width: 1200px) {
  .our-stats .stats {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.our-stats .stats div {
  box-shadow: 0 0 10px 2px #ddd;
  padding: 25px 0;
  background-color: white;
  position: relative;
  opacity: 0.8;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  z-index: 1;
}
.our-stats .stats div:hover {
  opacity: 1;
}
.our-stats .stats div::before,
.our-stats .stats div::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 2px;
  height: 0;
  z-index: -1;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.our-stats .stats div::before {
  top: 0;
  left: 0;
}
.our-stats .stats div::after {
  bottom: 0;
  right: 0;
}
.our-stats .stats div:hover::before,
.our-stats .stats div:hover::after {
  height: 100%;
}
.our-stats .stats div i {
  font-size: 35px;
}
.our-stats .stats div h2 {
  font-size: 50px;
  margin: 20px 0;
}
.our-stats .stats div span {
  font-style: italic;
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
}

.discount {
  display: flex;
}
@media (max-width: 768px) {
  .discount {
    flex-direction: column;
  }
}
.discount .left,
.discount .right {
  flex-basis: 50%;
  text-align: center;
  padding: 40px 0;
  overflow: hidden;
  position: relative;
}
.discount .left {
  background-color: var(--main-color);
  position: relative;
  z-index: 1;
}
.discount .left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.05;
  z-index: -1;
  animation: change-bg 10s linear infinite;
  -webkit-animation: change-bg 10s linear infinite;
}
@keyframes change-bg {
  0%,
  100% {
    background-image: url("../imgs/discount-01.jpg");
  }
  50% {
    background-image: url("../imgs/discount-02.jpg");
  }
}
.discount h1 {
  font-size: 36px;
}
.discount .left h1 {
  color: white;
}
.discount .left p {
  color: #eee;
  margin: 50px auto;
  max-width: 550px;
  padding: 20px;
  font-size: 18px;
  line-height: 25px;
}
.discount .left img {
  width: 230px;
}
.discount .right form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .discount .right form {
    width: 300px;
  }
}
.discount .right form input,
.discount .right form textarea {
  border: none;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px 0;
  border-bottom: 2px solid #ddd;
  caret-color: var(--main-color);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.discount .right form input:hover,
.discount .right form textarea:hover {
  outline: none;
}
.discount .right form input[type="submit"] {
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.discount .right form textarea {
  resize: none;
  height: 200px;
}

footer {
  padding-top: 40px;
  background-color: #212121;
  color: white;
}
footer .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  footer .content {
    text-align: center;
  }
}
footer .content .about {
  padding-right: 10px;
}
footer .content .about h2 {
  font-size: 40px;
}
footer .content .about .social {
  display: flex;
}
@media (max-width: 768px) {
  footer .content .about .social {
    justify-content: center;
  }
}
footer .content .about .social i {
  cursor: pointer;
  font-size: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  color: #ddd;
  margin: 15px 3px;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
footer .content .about i:first-of-type:hover {
  background-color: #216bf3;
}
footer .content .about i:nth-of-type(2):hover {
  background-color: #1cbbff;
}
footer .content .about i:last-of-type:hover {
  background-color: #e91e32;
}
footer .content .about p {
  line-height: 1.7;
  color: #ddd;
  padding-right: 10px;
}
footer .content ul.links li {
  padding: 15px;
  position: relative;
  display: flex;
}
@media (max-width: 768px) {
  footer .content ul.links li {
    justify-content: center;
  }
}
footer .content ul.links li:before {
  content: "\f101";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: relative;
  left: -14px;
  color: var(--main-color);
}
footer .content ul.links li:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #444;
}
footer .content ul.links a {
  text-decoration: none;
  color: #ddd;
  position: relative;
  left: 0;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
footer .content ul.links a:hover {
  left: 10px;
  color: white;
}
footer .content .details {
  position: relative;
}
footer .content .details div {
  color: #ddd;
  display: flex;
  align-items: center;
  padding: 10px 0 25px 10px;
}
footer .content .details div i {
  font-size: 22px;
  color: var(--main-color);
  margin-right: 12px;
}
@media (max-width: 768px) {
  footer .content .details div {
    flex-direction: column;
    justify-content: center;
  }
  footer .content .details div i {
    margin-bottom: 12px;
  }
}
footer .content .details div span {
  line-height: var(--p-line-height);
}
footer .content .details div:first-child i {
  font-size: 25px;
}
footer .content .work img {
  margin: 3px;
  background-color: #eee;
  padding: 3px;
  max-width: 78px;
}
footer > span {
  display: block;
  text-align: center;
  padding: 25px;
  border-top: 1px solid #666;
}
